<section class="w-full h-dvh p-5 vk-bg-body">
  <div class="bg-white p-3 rounded">
    <header class="pb-3">
      <h1 class="vk-h5">VK64</h1>
    </header>
    <div class="">
      <h1 class="vk-h4 pb-3">Text to Mp3</h1>
      <div>
        <textarea
          [(ngModel)]="text"
          placeholder="Enter text to convert to MP3"
          rows="5"
          class="vk-form-input"
        ></textarea>
      </div>

      <!-- <div>
        <label for="lang" class="vk-form-label">Select Language</label>
        <select name="lang" id="lang" class="vk-form-input" [(ngModel)]="lang">
          <option value="en-us">English</option>
          <option value="ta-in">Tamil</option>
        </select>
      </div> -->

      @if(lang === 'en-us'){
      <div class="pb-3">
        <label for="voice" class="vk-form-label">Select Voice</label>
        <select
          name="voice"
          id="voice"
          class="vk-form-input"
          [(ngModel)]="voice"
        >
          <option value="Mike">Mike (Male)</option>
          <option value="John">John (Male)</option>
          <option value="Mary">Mary (Female)</option>
          <option value="Amy">Amy (Female)</option>
        </select>
      </div>
      } @if(lang === 'ta-in'){
      <div>
        <label for="voice" class="vk-form-label">Select Voice</label>
        <select
          name="voice"
          id="voice"
          class="vk-form-input"
          [(ngModel)]="voice"
        >
          <option value="Sai">Sai (Male)</option>
        </select>
      </div>
      }

      <div class="">
        <label for="voice" class="vk-form-label">Audio File Name</label>
        <div>
          <input
            [(ngModel)]="audioFileName"
            placeholder="Enter filename"
            class="vk-form-input"
          />
        </div>
      </div>

      <div class="flex gap-3 items-center pt-3">
        <button
          (click)="convertTextToAudio()"
          class="vk-btn-green"
          [disabled]="
            !text.length ||
            !lang.length ||
            !voice.length ||
            !audioFileName.length
          "
        >
          <span class="flex items-center">
            @if(loading){
            <span class="me-2">
              <img
                src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif"
                alt="Loader"
                class="size-5"
              />
            </span>
            } Convert to mp3
          </span>
        </button>

        <button
          *ngIf="audioUrl"
          (click)="downloadAudio()"
          class="vk-btn-blue-g"
        >
          Download MP3
        </button>
      </div>

      <div *ngIf="audioUrl" class="py-3">
        <audio [src]="audioUrl" controls></audio>
      </div>
    </div>
  </div>
</section>
